<!DOCTYPE html>
<html>
<head>
    <title>Online Exam</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h2>Python Basics Exam</h2>

<form method="POST" action="/submit">
    <p>1. Python is a ____?</p>
    <input type="radio" name="q1" value="a"> Snake<br>
    <input type="radio" name="q1" value="b"> Programming Language<br><br>

    <p>2. Flask is a ____?</p>
    <input type="radio" name="q2" value="a"> Framework<br>
    <input type="radio" name="q2" value="b"> Database<br><br>

    <button type="submit">Submit Exam</button>
</form>

</body>
</html>
